package {{package}};
{{#modelPackage}}

import {{modelPackage}}.*;{{/modelPackage}}

{{>generated}}
@io.micronaut.http.client.annotation.Client(id = "{{clientId}}")
public interface {{classname}}Client extends {{classname}} {
{{#operations}}{{#operation}}

{{#vendorExtensions.has401}}
	@io.micronaut.http.annotation.{{vendorExtensions.httpMethod}}("{{{vendorExtensions.path}}}"){{#hasConsumes}}
	@io.micronaut.http.annotation.Consumes({ {{#consumes}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
	@io.micronaut.http.annotation.Produces({ {{#produces}}"{{{mediaType}}}"{{^-last}}, {{/-last}}{{/produces}} }){{/hasProduces}}
	{{>returnType}} {{nickname}}(
			@{{type.Nullable}}
			@io.micronaut.http.annotation.Header(io.micronaut.http.HttpHeaders.AUTHORIZATION)
			String authorization{{#hasParams}},
{{>apiParams}}{{/hasParams}});
{{/vendorExtensions.has401}}{{/operation}}
}{{/operations}}
