{{#vendorExtensions.has401}}{{#generateAuthentication}}			@{{type.Nonnull}}
			{{type.Authentication}} authentication{{#hasParams}},
{{/hasParams}}{{/generateAuthentication}}{{/vendorExtensions.has401}}{{#allParams}}{{#required}}			@{{type.Nonnull}}
{{/required}}{{^required}}{{^useOptional}}			@{{type.Nullable}}
{{/useOptional}}{{#useOptional}}			@{{type.Nonnull}}
{{/useOptional}}{{/required}}{{#isBodyParam}}			@io.micronaut.http.annotation.Body
{{/isBodyParam}}{{#isFormParam}}{{^isFile}}			@io.micronaut.http.annotation.Part(value = "{{baseName}}")
{{/isFile}}{{/isFormParam}}{{#isQueryParam}}			@io.micronaut.http.annotation.QueryValue(value = "{{baseName}}"{{^isContainer}}{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}}{{/isContainer}})
{{/isQueryParam}}{{#isCookieParam}}			@io.micronaut.http.annotation.CookieValue(value = "{{baseName}}"{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}})
{{/isCookieParam}}{{#isPathParam}}			@io.micronaut.http.annotation.PathVariable(value = "{{baseName}}"{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}})
{{/isPathParam}}{{#isHeaderParam}}			@io.micronaut.http.annotation.Header(value = "{{baseName}}"{{#defaultValue}}, defaultValue = "{{defaultValue}}"{{/defaultValue}})
{{/isHeaderParam}}{{>apiParamValidation}}			{{#defaultValue}}{{{dataType}}}{{/defaultValue}}{{^defaultValue}}{{#required}}{{{dataType}}}{{/required}}{{^required}}{{#useOptional}}java.util.Optional<{{{dataType}}}>{{/useOptional}}{{^useOptional}}{{{dataType}}}{{/useOptional}}{{/required}}{{/defaultValue}} {{paramName}}{{^-last}},
{{/-last}}{{/allParams}}