{{#useJavaxGenerated}}@javax.annotation.processing.Generated(value = "{{generatorClass}}", date = "{{generatedDate}}")
{{/useJavaxGenerated}}{{#useLombokGenerated}}@lombok.Generated{{/useLombokGenerated}}