package {{package}};
{{#vendorExtensions.modelBaseClass}}import {{vendorExtensions.modelBaseClass}};{{/vendorExtensions.modelBaseClass}}

{{#description}}/**
 * {{description}}
 **/
{{/description}}{{>generated}}{{#models}}{{#model}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#hasChildren}}{{>modelInterface}}{{/hasChildren}}{{^hasChildren}}{{#record}}{{>modelRecord}}{{/record}}{{^record}}{{>modelPojo}}{{/record}}{{/hasChildren}}{{/isEnum}}
{{/model}}
{{/models}}
