{{#serdeable}}@io.micronaut.serde.annotation.Serdeable
{{/serdeable}}public record {{classname}}({{#allVars}}

{{#description}}	/** {{description}} */
{{/description}}{{#useBeanValidation}}{{>modelPropertyValidation}}{{/useBeanValidation}}{{>modelPropertyJackson}}
	{{>modelPropertyType}} {{name}}{{^-last}},{{/-last}}{{/allVars}}){{#interfaceModels}}{{#-first}} implements{{/-first}} {{classname}}{{^-last}}, {{/-last}}{{/interfaceModels}} {
{{#vars}}{{#-first}}
{{/-first}}	public static final java.lang.String JSON_PROPERTY_{{nameInSnakeCase}} = "{{baseName}}";{{^-last}}
{{/-last}}{{/vars}}{{#vendorExtensions.discriminatorPropertyValue}}

	@Override
	public {{vendorExtensions.discriminatorPropertyType}} {{vendorExtensions.discriminatorPropertyName}}() {
		return {{{vendorExtensions.discriminatorPropertyValue}}};
	}{{/vendorExtensions.discriminatorPropertyValue}}{{#allVars}}{{#isEnum}}

{{>modelEnum}}{{/isEnum}}{{/allVars}}
}