{{#isNullable}}{{#vendorExtensions.x-jackson-nullable}}org.openapitools.jackson.nullable.JsonNullable<{{/vendorExtensions.x-jackson-nullable}}{{/isNullable}}{{{datatypeWithEnum}}}{{#isNullable}}{{#vendorExtensions.x-jackson-nullable}}>{{/vendorExtensions.x-jackson-nullable}}{{/isNullable}}