package {{package}};

{{#description}}/**
 * {{description}}
 **/
{{/description}}{{>generated}}{{#models}}{{#model}}{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{#hasChildren}}{{>modelInterface}}{{/hasChildren}}{{^hasChildren}}{{>modelPojo}}{{/hasChildren}}{{/isEnum}}
{{/model}}
{{/models}}
