public enum {{{classname}}} {
{{#allowableValues}}{{#enumVars}}
	{{{name}}}({{{value}}}){{^-last}},
{{/-last}}{{#-last}};{{/-last}}{{/enumVars}}{{/allowableValues}}

	private final String value;

	private {{{classname}}}(String value) {
		this.value = value;
	}

	@com.fasterxml.jackson.annotation.JsonCreator
	public static {{{classname}}} fromString(String value) {
		return java.util.Arrays
				.stream(values())
				.filter(f -> f.value.equals(value))
				.findAny()
				.orElseThrow(() -> new IllegalArgumentException("Unknown value '" + value + "'."));
	}

	@com.fasterxml.jackson.annotation.JsonValue
	public String getValue() {
		return value;
	}
}