{{#vendorExtensions.x-one-of-name}}{{#isNullable}} = null{{/isNullable}}{{/vendorExtensions.x-one-of-name}}{{^vendorExtensions.x-one-of-name}}{{#isNullable}}{{#vendorExtensions.x-jackson-nullable}} = org.openapitools.jackson.nullable.JsonNullable.{{#isContainer}}undefined(){{/isContainer}}{{^isContainer}}{{#defaultValue}}of({{{.}}}){{/defaultValue}}{{^defaultValue}}undefined(){{/defaultValue}}{{/isContainer}}{{/vendorExtensions.x-jackson-nullable}}{{/isNullable}}{{^isNullable}}{{#defaultValue}}{{#isContainer}}{{#required}} = {{{.}}}{{/required}}{{/isContainer}}{{^isContainer}} = {{{.}}}{{/isContainer}}{{/defaultValue}}{{/isNullable}}{{/vendorExtensions.x-one-of-name}}