public enum {{{classname}}} {

{{#allowableValues}}{{#enumVars}}	{{{name}}}({{{value}}}){{^-last}},
{{/-last}}{{#-last}};{{/-last}}{{/enumVars}}{{/allowableValues}}
{{#allowableValues}}{{#enumVars}}
	public static final String {{{name}}}_VALUE = {{{value}}};{{/enumVars}}{{/allowableValues}}

	private final String value;

	private {{{classname}}}(String value) {
		this.value = value;
	}

	@com.fasterxml.jackson.annotation.JsonCreator
	public static {{{classname}}} fromString(String value) {
		return toOptional(value).orElseThrow(() -> new IllegalArgumentException("Unknown value '" + value + "'."));
	}

	public static java.util.Optional<{{{classname}}}> toOptional(String value) {
		return java.util.Arrays
				.stream(values())
				.filter(f -> f.value.equals(value))
				.findAny();
	}

	@com.fasterxml.jackson.annotation.JsonValue
	public String getValue() {
		return value;
	}
}