{{#isNullable}}{{#jacksonDatabindNullable}} = org.openapitools.jackson.nullable.JsonNullable.{{#isContainer}}undefined(){{/isContainer}}{{^isContainer}}{{#defaultValue}}of({{{.}}}){{/defaultValue}}{{^defaultValue}}undefined(){{/defaultValue}}{{/isContainer}}{{/jacksonDatabindNullable}}{{/isNullable}}{{^isNullable}}{{#defaultValue}}{{#isContainer}}{{#required}} = {{{.}}}{{/required}}{{/isContainer}}{{^isContainer}} = {{{.}}}{{/isContainer}}{{/defaultValue}}{{/isNullable}}