package {{package}};

{{#description}}/**
 * {{description}}
 **/
{{/description}}{{>generated}}
{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelPojo}}{{/isEnum}}
{{/model}}
{{/models}}
