{{#isNullable}}{{#jacksonDatabindNullable}}org.openapitools.jackson.nullable.JsonNullable<{{/jacksonDatabindNullable}}{{/isNullable}}{{{datatypeWithEnum}}}{{#isNullable}}{{#jacksonDatabindNullable}}>{{/jacksonDatabindNullable}}{{/isNullable}}