{{#vendorExtensions.x-genericReturnType}}{{{vendorExtensions.x-genericReturnType}}}<{{/vendorExtensions.x-genericReturnType}}io.micronaut.http.HttpResponse<{{^returnType}}?{{/returnType}}{{#returnType}}{{{returnType}}}{{/returnType}}>{{#vendorExtensions.x-genericReturnType}}>{{/vendorExtensions.x-genericReturnType}}