package {{package}};
{{#models}}

public class {{classname}}TestExample {
{{#model}}

	public static {{classname}} build() {
		{{#isEnum}}
		return {{classname}}.values()[0];
		{{/isEnum}}
		{{^isEnum}}
		{{#hasChildren}}
		{{#children}}
		{{#-first}}
		return {{{classname}}}TestExample.build();
		{{/-first}}
		{{/children}}
		{{/hasChildren}}
		{{^hasChildren}}
		{{classname}} exampleInstance = new {{classname}}();
		{{#allVars}}
		{{#isEnum}}
		exampleInstance.set{{nameInCamelCase}}({{classname}}.{{datatypeWithEnum}}.toEnum({{{example}}}));
		{{/isEnum}}
		{{#isModel}}
		{{^isPrimitiveType}}
		exampleInstance.set{{nameInCamelCase}}({{{example}}});
		{{/isPrimitiveType}}
		exampleInstance.set{{nameInCamelCase}}({{baseType}}TestExample.build());
		{{/isModel}}
		{{^isEnum}}
		{{^isModel}}
		exampleInstance.set{{nameInCamelCase}}({{>testExampleObjectPropertyExample}});
		{{/isModel}}
		{{/isEnum}}
		{{/allVars}}
		return exampleInstance;
		{{/hasChildren}}
		{{/isEnum}}
	}
	{{/model}}
}
{{/models}}
