package {{package}};

/** Test for {@link {{classname}}}. */
{{>generated}}
public interface {{classname}}TestSpec { {{#operations}}{{#operation}}

	// {{nickname}}{{#responses}}

	/** Test for {@link {{classname}}#{{nickname}}} with repsonse code {{code}}. */
	void {{nickname}}{{code}}() throws Exception;{{/responses}}{{/operation}}
}{{/operations}}
