{{#isNullable}}{{#vendorExtensions.x-jackson-nullable}}org.openapitools.jackson.nullable.JsonNullable.{{#example}}of({{{.}}}){{/example}}{{/vendorExtensions.x-jackson-nullable}}{{^vendorExtensions.x-jackson-nullable}}{{{example}}}{{/vendorExtensions.x-jackson-nullable}}{{/isNullable}}{{^isNullable}}{{{example}}}{{/isNullable}}