{{#allParams}}{{^isFormParam}}{{^isPathParam}}			@{{type.Nullable}}
{{/isPathParam}}{{#isPathParam}}			@{{type.Nonnull}}
{{/isPathParam}}{{#isBodyParam}}			@io.micronaut.http.annotation.Body
{{/isBodyParam}}{{#isPathParam}}			@io.micronaut.http.annotation.PathVariable(value = "{{baseName}}")
{{/isPathParam}}{{#isQueryParam}}			@io.micronaut.http.annotation.QueryValue(value = "{{baseName}}")
{{/isQueryParam}}{{#isCookieParam}}			@io.micronaut.http.annotation.CookieValue(value = "{{baseName}}")
{{/isCookieParam}}{{#isHeaderParam}}			@io.micronaut.http.annotation.Header(value = "{{baseName}}")
{{/isHeaderParam}}			{{{vendorExtensions.x-datatype-without-validation}}} {{paramName}}{{^-last}},
{{/-last}}{{/isFormParam}}{{/allParams}}{{#isMultipart}}{{#vendorExtensions.hasOtherThanMultipart}},
{{/vendorExtensions.hasOtherThanMultipart}}			@io.micronaut.http.annotation.Body
			{{type.MultipartBody}} multipart{{/isMultipart}}