package {{package}};

/** Test for {@link {{classname}}}. */
{{>generated}}public interface {{classname}}TestSpec { {{#operations}}{{#operation}}

	// {{operationIdOriginal}}{{#responses}}

	void {{operationIdOriginal}}{{code}}() throws java.lang.Exception;{{/responses}}{{/operation}}
}{{/operations}}
