{{#isMultipart}}			@io.micronaut.http.annotation.Body
			{{type.MultipartBody}} multipart{{/isMultipart}}{{^isMultipart}}{{#allParams}}{{^isPathParam}}			@{{type.Nullable}}
{{/isPathParam}}{{#isPathParam}}			@{{type.Nonnull}}
{{/isPathParam}}{{#isBodyParam}}			@io.micronaut.http.annotation.Body
{{/isBodyParam}}{{#isPathParam}}			@io.micronaut.http.annotation.PathVariable(value = "{{baseName}}")
{{/isPathParam}}{{#isQueryParam}}			@io.micronaut.http.annotation.QueryValue(value = "{{baseName}}")
{{/isQueryParam}}{{#isHeaderParam}}			@io.micronaut.http.annotation.Header(value = "{{baseName}}")
{{/isHeaderParam}}			{{{dataType}}} {{paramName}}{{^-last}},
{{/-last}}{{/allParams}}{{/isMultipart}}