package {{package}};

/** Test client for {@link {{classname}}}. **/
{{>generated}}
@io.micronaut.http.client.annotation.Client("${test.clientId:/}")
public interface {{classname}}TestClient extends {{classname}} {
{{#operations}}{{#operation}}

{{#vendorExtensions.has401}}
	@io.micronaut.http.annotation.{{vendorExtensions.httpMethod}}("{{{vendorExtensions.path}}}"){{#hasConsumes}}
	@io.micronaut.http.annotation.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
	@io.micronaut.http.annotation.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}
	{{#vendorExtensions.x-genericReturnType}}{{vendorExtensions.x-genericReturnType}}<{{/vendorExtensions.x-genericReturnType}}{{>returnType}}{{#vendorExtensions.x-genericReturnType}}>{{/vendorExtensions.x-genericReturnType}} {{nickname}}(
			@javax.annotation.Nullable
			@io.micronaut.http.annotation.Header(io.micronaut.http.HttpHeaders.AUTHORIZATION)
			String authorization{{#hasParams}},
{{>apiParams}}{{/hasParams}});
{{/vendorExtensions.has401}}{{/operation}}}{{/operations}}